.App {
  text-align: center;
  
}
a:-webkit-any-link {
  
  margin:15px 15px 15px 15px;
  font-size: 22px;
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
  text-decoration: none;
}

/* ========== Navigation-Bar section ========== */
.navigation-bar{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: white;
}
.logo{
 width: 250px;
 height: 110px;
 }
.nav-buttons{
  /* margin:auto; */
  font-size: 22px;
  font-family: 'Roboto Slab', serif;
  /* font-family: 'Roboto', sans-serif; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
 }
.nav-link{
  text-decoration: none;
  margin: 10px 40px 10px 10px;
}
.blackLine{
  background-color: darkblue;
  width:100%;
  height: 2px;
}
/*========== Home Section ========== */
.home-container{
  margin-top: 200px;
  /* position: absolute; */
  /* margin-top: 100px; */
}
.home-img{
  width: 95%;
}
.img-text{
  position: absolute;
  top: 65%;
  left: 40%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  font-size: 42px;
  font-family: 'Roboto Slab', serif;
}
/*========== About Section ==========*/
.container{
  margin-top: 150px;
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  justify-content: center;
}
.subscribe{
  background-color: rgb(223, 190, 80);
}
/*========== Research Section ==========*/
.headline{
  font-size: 30px;
  font-weight: bold;
}
.youtube{
margin-top: 30px;
width: 60%;
height: 450px;
}
/*========== Technology Section ========== */

/*used generic .container*/
.tech-img{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
/* used generic .youtube*/

/*========== Conatct Section ========== */
.input-container{
  
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px; 
}
.input-contact{
  height:25px;
  
}
.msg-contact{
  height: 100px;
  
}
/*========== Train-Eye-Music Section ========== */
.link-list{
  display: flex;
  flex-direction: column;
  
  /* text-decoration: none; */
}
.img-container{
width: 100%;
height: auto;
}


.setup{
  width: 100px;
  margin: 10px 10px 10px 10px;
  height: 60px;
}

.big-setup{
  width: 400px;
  height: auto;
}

.eyeMusicViewer{
  background-color: azure;
}
.classes{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 150px;
  /* justify-content: space-around; */
  margin:20px;
  align-content: stretch;
}
.TSVimg{
  width: 50%;
  height: auto;
  border-radius: 5px;
}
.TopospeachViewer{
  background-color:whitesmoke;
  width: 100%;
  height: auto;
  flex-direction: column; 
  border-radius: 15px;
}
  
.beforeClick{
  font-size: 40px;
  width: auto;
  min-width: 350px;
  height: 100px;
  margin: 5px 5px;
}
.afterClick{
  font-size: 50px;
  width: auto;
  min-width: 350px;
  height: 100px;
  margin: 5px 5px;
  color:rgb(231, 12, 12);
}
.afterClick-Correct{
  font-size: 50px;
  width: auto;
  min-width: 350px;
  height: 100px;
  margin: 5px 5px;
  font-weight: bold;
  color:rgb(24, 201, 24);
}

.tps-button{
  font-size: 32px;
  flex-basis: 50%;
  background-color: white;
}
.tps-button .tps-button-clicked,
.tps-button:tps .tps-button-nonclicked{
  display:none
}
.tps-button:tps .tps-button-clicked{
  display: inline;
}